:root {
  --color-text: #111827;
  --color-muted: #6b7280;
  --text-color: #64748b;
  --color-blue-900: #CC0000

  ;
  --color-blue-600: #BB0000;
  --color-blue-400: #AA0000;
  --color-blue-300: #990000;
  --color-blue-100: #880000;
  

}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}


